body {
  background-image: url("system_images/background.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
#form-container {
  background-color: #aac8e3;
  max-height: 90vh;
  padding: 2vh;
  border-radius: 9px;
  opacity: 0.7;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
}
[type="text"],
[type="password"] {
  padding: 5px;
  background-color: #76a8d4;
  border: none;
  width: 40vh;
  height: 5vh;
  margin-bottom: 15px;
  border-radius: 18px;
  font-size: 32px;
  color: #315678;
  opacity: 1;
}
[type="submit"] {
  background-color: #57728a;
  width: 40vh;
  height: 5vh;
  padding: 5px;
  border: none;
  border-radius: 18px;
  font-size: 32px;
  margin-top: 2vh;
}
#left_container {
  background-color: #aac8e3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 0;
  width: 10vh;
  height: 40vh;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0px 9px 9px 0px;
}
#home {
  background: url("./system_images/home.svg");
  width: 5vh;
  height: 5vh;
  background-size: cover;
  opacity: 0.6;
  position: relative;
  top: 15vh;
  left: 2vh;
  border: none;
  border-radius: 0px;
}
