body {
  background-image: url("system_images/background.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.form-container {
  background-color: #aac8e3;
  opacity: 0.6;
  padding: 22px 25px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form input {
  display: block;
  border-radius: 5px;
}
[type="text"],
[type="password"] {
  padding: 5px;
  background-color: #76a8d4;
  border: none;
  width: 600px;
  height: 25px;
  border-radius: 8px;
  font-size: 20px;
  color: #315678;
  opacity: 1;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
[type="text"]:focus,
[type="password"]:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
[type="text"]::placeholder,
[type="password"]::placeholder {
  color: #4f779c;
  text-align: center;
  vertical-align: middle;
}
[type="password"] {
  margin-bottom: 5px;
}
[type="submit"] {
  background-color: #57728a;
  width: 250px;
  height: 30px;
  margin-top: 5px;
  border: none;
  border-radius: 18px;
  font-size: 25px;
}
[type="submit"]:hover {
  cursor: pointer;
}
input:-webkit-autofill {
  background-color: #76a8d4 !important;
  color: #315678 !important;
}
#left_container {
  background-color: #aac8e3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 0;
  width: 10vh;
  height: 40vh;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0px 9px 9px 0px;
}
#home {
  background: url("./system_images/home.svg");
  width: 5vh;
  height: 5vh;
  background-size: cover;
  opacity: 0.6;
  position: relative;
  top: 17vh;
  right: 0.3vh;
  border: none;
  border-radius: 0px;
}
#left_container {
  background-color: #aac8e3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 0;
  width: 10vh;
  height: 40vh;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0px 9px 9px 0px;
}
#home {
  background: url("./system_images/home.svg");
  width: 5vh;
  height: 5vh;
  background-size: cover;
  opacity: 0.6;
  position: relative;
  top: 16vh;
}
