body {
  background-image: url('system_images/background.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.form-container {
  background-color: #AAC8E3;
  opacity: 0.6;
  padding: 22px 25px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form input {
  display: block;
  border-radius: 5px;
}
[type = 'text'], [type = 'password']{
  padding: 5px;
  background-color: #76A8D4;
  border: none;
  width: 600px;
  height: 25px;
  border-radius: 8px;
  font-size: 20px;
  color: #315678;
  opacity: 1;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
[type='text']:focus, [type='password']:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
[type='text']::placeholder, [type='password']::placeholder {
  color: #4F779C;
  text-align: center;
  vertical-align: middle;
}
[type = 'password']{
  margin-bottom: 5px;
}
[type = 'submit']{
  background-color: #57728A;
  width: 250px;
  height: 30px;
  margin-top: 5px;
  border: none;
  border-radius: 18px;
  font-size: 25px;
}
[type = 'submit']:hover{
  cursor: pointer;
}
input:-webkit-autofill {
  background-color: #76A8D4 !important;
  color: #315678 !important;
}
