body {
  background-image: url("system_images/background.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.container {
  background-color: #aac8e3;
  padding: 0vh 5vh;
  border-radius: 9px;
  opacity: 0.7;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 70vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#requests_container {
  overflow-y: auto;
  height: 60vh;
}
.item {
  background-color: #57728a;
  border-radius: 9px;
  padding: 4vh;
  margin-bottom: 1vh;
  width: 60vw;
  height: 3vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item [type="submit"] {
  background-color: #95ca88;
  height: 5vh;
  border: none;
  border-radius: 9px;
  width: 15vw;
}
#container_info {
  margin-top: 2vh;
  background-color: #57728a;
  border-radius: 9px;
  padding: 4vh;
  height: 2vh;
  width: 65vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button {
  float: right;
  background-color: #95ca88;
  border: none;
  height: 5vh;
  width: 10vh;
  border-radius: 9px;
  font-size: 1.5vh;
}

#left_container {
  background-color: #aac8e3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 0;
  width: 10vh;
  height: 40vh;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0px 9px 9px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home {
  background: url("./system_images/exit.svg");
  width: 5vh;
  height: 5vh;
  background-size: cover;
  opacity: 0.6;
  border: none;
  border-radius: 0px;
}
