body {
  background-image: url("system_images/background.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
#list_container {
  background-color: #aac8e3;
  width: 70vh;
  height: 40vh;
  padding: 15vh;
  border-radius: 9px;
  opacity: 0.7;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;
}
#flow {
  overflow-y: auto;
  height: 50vh;
  position: relative;
  flex-shrink: 0;
  margin-top: -7vh;
}
[value="Додати"] {
  position: relative;
  bottom: 10vh;
  display: flex;
  padding: 2vh;
  background-color: #57728a;
  border: none;
  border-radius: 9px;
}
.item_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #57728a;
  padding: 3vh;
  border-radius: 9px;
  margin: 2vh;
  width: 80vh;
  position: relative;
  bottom: 4vh;
}
[value="Редагувати"] {
  padding: 2vh;
  background-color: #aac8e3;
  border: none;
  border-radius: 9px;
}
[value="Вибрати"] {
  background-color: green;
  border: none;
  border-radius: 9px;
  padding: 1vh;
  color: white;
}
#left_container {
  background-color: #aac8e3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 0;
  width: 10vh;
  height: 40vh;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0px 9px 9px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#home {
  background: url("./system_images/home.svg");
  width: 5vh;
  height: 5vh;
  background-size: cover;
  opacity: 0.6;
  border: none;
}
#plus {
  background: url("./system_images/plus.svg");
  width: 5vh;
  height: 5vh;
  background-size: cover;
  opacity: 0.6;
  border: none;
}
